body {
    padding-left: 15px;
}

.model {
    background: #808080;
    position: absolute;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    top: 140px;
}

button {
    margin: 10px 0 0 0;
    display: block;
}
div div {
    display: inline-block;
    margin: 0 50px 0 0;
}